<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    {% if message %}
      {{ message }}
    {% endif %}
    <form action="/login" method="post">
      <input type="text" name="username"><br>
      <input type="password" name="password"><br>
      <input type="submit" value="Sign In">
    </form>
    <br><br>
    <a href="/auth/twitter"><button>Sign In with Twitter</button></a>
    <a href="/auth/facebook"><button>Sign In with Facebook</button></a>
  </body>
</html>
